.map, #container {
  height: 100%;
}

.bubble {
  width: 70px;
  height: 70px;
  line-height: 1;
  display: inline-block;
  position: absolute;
  border-radius: 100%;
  background-color: rgba(12,181,106,0.9);
  color: #fff;
  border: 2px solid rgba(255,255,255,0.8);
  text-align: center;
  cursor: pointer;
}

.name {
  padding: 18px 0 6px 0;
}

.rect {
  height: 20px;
  line-height: 19px;
  width: 100px;
  padding: 0 3px;
  border-radius: 3px;
  position: absolute;
  background-color: rgba(12,181,106,0.9);
  cursor: pointer;
  white-space: nowrap;
}

.housename {
  display: inline-block;
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.housenum {
  display: inline-block;
  width: 20px;
}

.arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0 auto;
  border: 4px solid transparent;
  border-top-width: 4px;
  border-top-color: #00a75b;
}

.titleWrap {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: rgb(190,193,192);
  padding: 0 10px;
  margin-bottom: 20px;
}

.titleWrap .listTitle {
  font-size: 18px;
  line-height: 45px;
}
.titleWrap .titleMore {
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.houseItem {
  position: fixed;
  bottom: 0;
  top: 45px;
  left: 10px;
  right: 15px;
  overflow: auto;
  padding-top: 18px;
}

/* .houseItem::-webkit-scrollbar {
  position: relative;
  right: -20px;
} */

.houseItem .house {
  width: 100%;
  display: flex;
  color: black;
  border-bottom: 1px solid lightgray;
  height: 120px;
  padding-bottom: 18px;
  margin-bottom: 18px;
  overflow: hidden;
}

.houseItem .house .imgWrap {
  width: 106px;
  margin-right: 12px;
  vertical-align: middle;
}

.houseItem .house .houseContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}

.houseItem .house .houseContent .title {
  width: 220px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
}

.houseItem .house .houseContent .desc {
  color: gray;
  font-size: 14px;
}

.houseItem .house .houseContent .tags {
  display: flex;
  flex-wrap: wrap;
}

.houseItem .house .houseContent .tag {
  height: 20px;
  border-radius: 3px;
  background-color: rgb(215, 241, 241);
  color: rgb(38, 169, 192);
  text-align: center;
  padding: 1px 5px 0 5px;
  margin-right: 5px;
}

.houseItem .house .houseContent .price {
  font-size: 12px;
  color: rgb(253,117,89);;
}

.houseItem .house .houseContent .price .priceNum  {
  font-size: 18px;
  color: rgb(253,117,89);
  font-weight: 700;
  margin-right: 3px;
}

.adm-button {
  position: absolute;
  bottom: 19px;
  right: 50px;
  z-index: 999;
  border-radius: 0;
  font-weight: 700;
}

.detailContent {
  position: fixed;
  top: 45px;
  bottom: 45px;
  margin-top: -45px;
  width: 100%;
  overflow: auto;
}

.footerBtns {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: pink;
}

.footerBtns button {
  flex: 1;
  border: 0;
  font-size: 16px;
  color: gray;
}

.footerBtns button:first-child {
  border-right: 1px solid lightgray;
}

.footerBtns button:last-child {
  background-color: rgb(31,185,121);
  color: #fff;
}